.PositionsPage{
  padding: 2rem;

  table {
    width: 100%;
  }
  h1 {
    text-align: left;
    padding-bottom: 4rem;
  }
  thead {
    text-align: center;
  }
  th {
    padding: 1.5rem 0 1.5rem 0;
  }
  td{
    text-align: center;
    padding: 1.5rem 0 0.5rem 0;
  }
}

@media (max-width: 600px) {
  .PositionsPage{
    display: none;
  }
  .PositionPageMobile {
    display: block;
  }
}

@media (min-width: 600px) {
  .PositionsPage{
    display: block;
  }
  .PositionPageMobile {
    display: none;
  }
}
