.container{
  padding: 1rem;
  padding-bottom: 2rem; 
  margin-top: 1rem;
  height: 90vh;
}

.header {
  text-align: center;
}

.entryRow{
  margin: 4rem 0.5rem 1rem 0.5rem;
  padding: 6rem;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  border-radius: 0.5rem;
}

@media (max-width: 600px) {
  .entryRow {
    border: none;
    padding: 2rem;
    margin-top: 3rem;
  }
  .container {
    margin-top: 50%;
  }
}

