// Padding
.pb1 {
  padding-bottom: 4px;
}
.pb2 {
  padding-bottom: 8px;
}
.pb3 {
  padding-bottom: 16px
}
.pb4 {
  padding-bottom: 32px;
}

.px1{
  padding-right: 4px;
  padding-left: 4px;
}
.px2{
  padding-right: 8px;
  padding-left: 8px;
}
.px3{
  padding-right: 16px;
  padding-left: 16px;
}
.px4{
  padding-right: 32px;
  padding-left: 32px;
}

